<div class="header">
  <div class="header-top">
    <div>
      <!-- <button>inst</button> -->
    </div>
    <div class="header-top--right">

      <ul *ngFor="let i of items">
        <li>{{i.title}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="navigation-menu">
  <div class="header-main--container">
    <div class="header-main--image">
      <img src="../../assets/image/logo.png" alt="image.logo">
    </div>
    <div class="navigation-menu--inner">
      <nav class="navigation-menu--inner nav">
        <div class="navigation-menu--routes" *ngFor="let item of navMenu">
          <a [routerLink]="item.link">{{item.title}}</a>
        </div>
      </nav>
      <button class="admin-button">
        <a routerLink="/admin">Admin</a>
      </button>
      <button class="basket-btn">
        <img src="../../assets/image/shopping-basket.png" alt="">
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
