.header{
    min-height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-top{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-top--left,
.header-top--right{
    display: flex;
    max-width: 50%;
}

.header-top--left img{
    margin-right: 10px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.header-top--left img:hover{
    background-color: #ab8e69;
}

.header-main--container{
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.header ul{
    margin: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
}

.header li{
    color: whitesmoke;
    font-size: 14px;
}

.header li:hover{
    color: #ab8e69;
    transition: .5s;
}

.navigation-menu{
    display: flex;
    justify-content: center;
    background-color: #0a0a0a;
    min-height: 118px;
    align-items: center;
}

.navigation-menu--main{
    display: flex;
    align-items: center;
}

.navigation-menu--inner{
    display: flex;
    align-items: center;
}

.navigation-menu a{
    font-size: 11px;
    padding: 6px 12px;
    color: white;
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    line-height: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
    text-transform:uppercase ;
}

.navigation-links{
    font-size: 11px;
    padding: 6px 12px;
    color: white;
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    line-height: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
    text-transform:uppercase;
    cursor: pointer;
}

.navigation-menu a:hover{
    text-decoration: none;
    color: #ab8e69;
    transition: .5s;
}

.header-main--image{
    display: flex;
    align-items: center;
}

.admin-button{
    padding: 10px 20px;
    margin: 0 20px;
    display: flex;
    background-color: #ab8e69;
    border: none;
    border-radius: 5px;
    outline: none;
}

.admin-button:hover{
    background-color: white;
    transition: .9s;
}

.admin-button a{
    margin: 0 auto;
    color: black;
}

.admin-button a:hover{
    color: black;
}

.basket-btn{
    background: transparent;
    border: none;
}

.active{
    // color: #ab8e69;
    color: #ab8e69!important;
}

.cart-icon{
    position: relative;
}

.cart_value{
    position: absolute;
    font-size: 10px;
    font-weight: 800;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 50%;
    padding: 4px 10px;
    top: -16px;
    right: -7px;
}
