<div class="header">
  <div class="header-top">
    <div class="header-top--left">
      <div *ngFor="let photo of photos">
        <img [src]="photo.path" alt="q">
      </div>
    </div>
    <div class="header-top--right">
      <ul>
        <li>Customer support</li>
        <li>Shipping</li>
        <li (click)="isUserLoggedIn ? logOut() : openLogDialog()" >{{ isUserLoggedIn ? 'Logout' : 'Login' }}</li>
        <li (click)= 'isAdminLogIn()'>Users info</li> 
      </ul>
    </div>
  </div>
</div>

<div class="navigation-menu">
  <div class="header-main--container">
    <div class="header-main--image">
      <img src="../../assets/image/logo.png" alt="image.logo">
    </div>
    <div class="navigation-menu--main">
    <div class="navigation-menu--inner">
      <nav class="navigation-menu--inner nav">
        <div class="navigation-menu--routes" *ngFor="let item of navMenu">
          <a [routerLink]="item.link" routerLinkActive="active">{{item.active? item.title : item.title}}</a>
        </div>
      </nav>
      <button class="admin-button" > 
        <a routerLink="/admin">Admin</a>
      </button>
    </div>
    <div class="cart-icon">
      <a routerLink="/cart"><img src="../../assets/image/shopping-basket.png" alt="basket-icon"></a>
      <div class="cart_value">
        {{cartItemsLength}}
      </div> 
    </div>
  </div>
</div>
</div>


