<div class="admin-page--container">
  <form [formGroup]="watchForm">
    <div class="control-container">
      <div class="control">
        <input class="input-control" type="text" placeholder="name" formControlName="name">
        <div class="control-paragraph--wrapper">
        </div>
      </div>
      <div class="control">
        <input class="input-control" type="number" placeholder="year" formControlName="year">
        <div class="control-paragraph--wrapper">
        </div>
      </div>
      <div class="control">
        <input class="input-control" type="text" placeholder="country" formControlName="country">
        <div class="control-paragraph--wrapper">
        </div>
      </div>
      <div class="control">
        <input class="input-control" type="text" placeholder="description" formControlName="description">
        <div class="control-paragraph--wrapper">
        </div>
      </div>
      <div class="control">
        <input class="input-control" type="number" placeholder="price" formControlName="price">
        <div class="control-paragraph--wrapper">
        </div>
      </div>
    <div class="button-container">
      <button class="submit-button" (click)="addNewWatch()">Add</button>
    </div>
    </div>
  </form>

  <div class="watches-container">
    <div class="watches" *ngFor="let watch of watchesArray">
      <div class="button-delete--wrapper">
        <button class="button-delete" (click)="removeWatch(watch.id)"></button>
      </div>
      <div>
        <div>
          <ng-container *ngIf="watch.image; else noImage">
            <img class="clock-image" [src]="watch.image" alt="clock image{{watch.id}}">
          </ng-container>
          <ng-template #noImage>
            <div>qweqweqweeqwqw</div>
          </ng-template>
        </div>
        <p class="watch-title">{{watch.name }} </p>
        <p class="watch-descr">Description: {{watch.description }} </p>
        <p class="watch-price">Price: {{watch.price }} </p>
        <p class="watch-price">Year: {{watch.year}}</p>
      </div>
      <div class="watch-button--container">
        <button class="watch-btn btn-info" mat-button (click)="openDialog(watch)">More info</button>
        <button class="watch-btn btn-add">Edit</button>
      </div>
    </div>
  </div>
</div>
