.admin-page--container {
  margin-bottom: 30px;
}

.control-container {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
  padding-bottom: 30px;
}

.control {
  justify-content: center;
  margin-top: 10px;
}

.control-header{
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.tooltip-btn{
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: transparent;
  background-image: url(../../assets/image/question-mark.png);
}

.control p{
  margin: 0px;
  margin-bottom: 5px;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
}

.input-control {
  width: 90%;
  height: 45px;
  font-size: 25px;
  padding-bottom: 7px;
  padding-left: 10px;
  box-shadow: 0 6px 6px rgba(10, 16, 20, 0.15), 0 0 52px rgba(10, 16, 20, 0.12);
  border: none;
  outline: none;
  border-radius: 5px;
  &--invalid{
    width: 90%;
    height: 45px;
    font-size: 25px;
    padding-bottom: 7px;
    padding-left: 10px;
    box-shadow: 0 6px 6px rgba(10, 16, 20, 0.15), 0 0 52px rgba(10, 16, 20, 0.12);
    border: 2px solid red;
    outline: none;
    border-radius: 5px;
  }
}

.control-paragraph--wrapper{
  height: 24px;
}

.paragraph-contol {
  margin: 0;
  color: red;
}

.button-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.submit-button {
  height: 50px;
  width: 150px;
  font-size: 15px;
  font-weight: 600;
  background-color: #ab8e69;
  color: #fff;
  border: none;
  border-radius: 3px;
  outline: none;
  box-shadow: 0 6px 6px rgba(10, 16, 20, 0.15), 0 0 52px rgba(10, 16, 20, 0.12);
}

table {
  width: 90%;
  margin: 0 auto;
}

