.admin-page--container{
  margin-bottom: 30px;
}

.control-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
    padding-bottom: 30px;
  }
  
  .control {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .input-control {
    width: 90%;
    height: 45px;
    font-size: 25px;
    padding-bottom: 7px;
    padding-left: 10px;
    box-shadow: 0 6px 6px rgba(10, 16, 20, 0.15), 0 0 52px rgba(10, 16, 20, 0.12);
    border: none;
  }
  
  .button-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }
  
  .submit-button {
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-weight: 600;
    background-color: #ab8e69;
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 6px 6px rgba(10, 16, 20, 0.15), 0 0 52px rgba(10, 16, 20, 0.12);
  }
  
  .array-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .watch-container {
    width: 30%;
    min-height: 170px;
    margin: 20px;
    text-align: center;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 6px 6px rgba(10, 16, 20, 0.15), 0 0 52px rgba(10, 16, 20, 0.12);
    border: none;
    overflow: hidden;
    border-radius: 5px;
  }

  .watch-container p{
    color: black;
  }
  
  .validate-form {
    width: 90%;
    margin: 0 auto;
    color: tomato;
  }
  
  .button-delete--wrapper {
    display: flex;
    justify-content: flex-end;
  }
  
  .button-delete {
    background-image: url(../../assets/image/cancel.png);
    background-color: transparent;
    border: none;
    margin-right: 5px;
    margin-top: 5px;
    width: 16px;
    height: 16px;
  }

  
  .button-edit--wrapper{
    display: flex;
    justify-content: center;
    color: black;
  }
  
  .button-edit{
    background-color: #ab8e69;
    border: none;
    border-radius: 5px;
  }
  .sort-items{
    background-color: black;  
  }
  
  .filter-container{
    margin-top: 30px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    
  }
  
  .filter-button{
    margin-right: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #ab8e69;
    box-shadow: 0 8px 8 px rgba(10, 16, 20, 0.15), 0 0 52px rgba(10, 16, 20, 0.12);
  }

.mat-form-field {
  height: 40px;
  width: 120px;
  
  text-align: center;
  border-radius: 5px;
  background-color: #ab8e69;
  box-shadow: 0 8px 8 px rgba(10, 16, 20, 0.15), 0 0 52px rgba(10, 16, 20, 0.12);
}
.filter-buttons-container {
  display: flex;
}

.mat-form-field-infix-flex{
  align-items: center;
  
}

.qqq{
  padding: 0;
}