<div class="admin-page--container">
  <form [formGroup]="watchForm">
    <div class="control-container">
      <div class="control">
        <p>Name*</p>
        <input class="input-control" type="text" formControlName="name">
        <div class="control-paragraph--wrapper">
          <app-inputs-errors [showErrors]="showErrors(watchForm.controls.name)"></app-inputs-errors>
        </div>
      </div>
      <div class="control">
        <p>Year*</p>
        <input class="input-control" type="number" formControlName="year">
        <div class="control-paragraph--wrapper">
          <app-inputs-errors [showErrors]="showErrors(watchForm.controls.year)"></app-inputs-errors>
        </div>
      </div>
      <div class="control">
        <p>Country*</p>
        <input class="input-control" type="text" formControlName="country">
        <div class="control-paragraph--wrapper">
          <app-inputs-errors [showErrors]="showErrors(watchForm.controls.country)"></app-inputs-errors>
        </div>
      </div>
      <div class="control">
        <p>Description*</p>
        <input class="input-control" type="text" formControlName="description">
        <div class="control-paragraph--wrapper">
          <app-inputs-errors [showErrors]="showErrors(watchForm.controls.description)"></app-inputs-errors>
        </div>
      </div>
      <div class="control">
        <p>Price*</p>
        <input class="input-control" type="number" formControlName="price">
        <div class="control-paragraph--wrapper">
          <app-inputs-errors [showErrors]="showErrors(watchForm.controls.price)"></app-inputs-errors>
        </div>
      </div>
    <div class="button-container">
      <button class="submit-button" *ngIf="buttonEdit" (click)="saveEdit()">Save Edit</button>
      <button class="submit-button" *ngIf="!buttonEdit" (click)="addNewWatch()" [disabled]="watchForm.invalid">Add</button>
    </div>
    </div>
  </form>

  <div class="watches-container">
    <div class="watches" *ngFor="let watch of watchesArray">
      <div class="button-delete--wrapper">
        <button class="button-delete" (click)="removeWatch(watch.id)"></button>
      </div>
      <div>
        <div>
          <ng-container *ngIf="watch.image; else noImage">
            <img class="clock-image" [src]="watch.image" alt="clock image{{watch.id}}">
          </ng-container>
          <ng-template #noImage>
            <div>No image</div>
          </ng-template>
        </div>
        <p class="watch-title">{{watch.name }} </p>
        <p class="watch-descr">Description: {{watch.description }} </p>
        <p class="watch-price">Price: {{watch.price }} </p>
        <p class="watch-price">Year: {{watch.year}}</p>
      </div>
      <div class="watch-button--container">
        <button class="watch-btn btn-info" mat-button (click)="openDialog(watch)">More info</button>
        <button class="watch-btn btn-add" (click)="editCurrentWatch(watch)">Edit</button>
      </div>
    </div>
  </div>
</div>
