.container {
  padding: 20px 0 40px;
}

.sort-container {
  display: flex;
  justify-content: space-between;
}

.sort-items {
  background-color: #0a0a0a;
  width: 49%;
  border-radius: 5px;
}

.watches-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.watches {
  width: 30%;
  height: 540px;
  text-align: center;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 6px 6px rgba(10, 16, 20, .15), 0 0 52px rgba(10, 16, 20, .12);
  border: none;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.clock-image {
  min-height: 333px;
  width: 100%;
}

.watch-title,
.watch-descr,
.watch-price {
  padding: 0 20px;
  margin-bottom: 10px;
}

.watch-title {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  height: 24px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch-descr {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 50px;
  font-size: 14px;
  color: #939393;
  line-height: 1.4;
}

.watch-price {
  line-height: 30px;
  font-size: 20px;
  font-weight: 500;
}

.watch-button--container {
  min-height: 40px;
  margin-bottom: 15px;
  padding-left: 10px;
  cursor: pointer;
  transition: .5s;
  opacity: 1;
}

.watch-btn {
  // pointer-events: none;
  padding: 5px 10px;
  box-shadow: 0 6px 6px rgba(10, 16, 20, .15), 0 0 52px rgba(10, 16, 20, .12);
  border-radius: 5px;
  border: none;
  color: #ab8e69;
  background-color: white;
  outline: none;
}

.btn-info:hover,
.btn-add:hover {
  transition: .5s;
  background-color: #ab8e69;
  color: white;

}

.btn-info {
  margin-right: 10px;
}