.more-info--container{
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.more-info--upper{
    display: flex;
    height: 60%;
}

.more-info--left,
.more-info--right{
    width: 48%;
}

.more-info--left{
    height: 100%;
}

.image-block{
    height: 100%;
    width: 360px;
    border-radius: 10px;
    background: darkgray;
}

.image-block img{
    height: 100%;
    border-radius: 10px;
}

.title-block,
.price-block,
.year-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    font-size: 18px;
}


.country-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.country-block--title{
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.country-block--content{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-block--right{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.country-block--content img{
    max-width: 50%;
    height: 100%;
}

.price{
    color: #ab8e69;
    font-size: 2.5rem;
}

.more-info--lower{
    height: 37%;
}

.more-info--lower h3{
    color: #ab8e69;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    
}

.description-block{
    display: flex;
    justify-content: space-between;
}

.description-content{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}